/*

Full Tutorial: https://scotch.io/tutorials/building-
interactive-scrolling-websites-with-scrollmagic-js

CodePen Collection: https://codepen.io/collection/XmearX/

/*

/* Ignore => Base Styles */
/*body { background: #e3e3e3; -webkit-font-smoothing: antialiased; }*/
.ScrollSceneIndicators { z-index: 9999999 !important; }


/* Create huge scrolling area (imitates height of a page) */
main { padding: 200px 0 3500px 0; overflow: hidden; }

/* Styles for wrap for demo */
.wrap {
  text-align: center;
  position: relative;
}

.st0{fill:#ffffff;stroke:#000000;stroke-miterlimit:10;}
.st1{fill:#000000;}

/* Default Animation Styles */
#animation {

  width: 400px;
  height: 0px;
  display: block;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  position: fixed;
}

#third2 image{
	width: 100px;
	height: 100px;
}

#third2 {
    stroke:url(#pattern);
	opacity: 0.5;
  
  stroke-width:330px;

}

#third2:hover {
	
	stroke:url(#pattern);
	
}


#hippo, #third {
  visibility:hidden;
}