
@font-face {
	font-family: 'PeaceSans';
	font-weight: normal;
	src: url(../fonts/PeaceSans.woff);
    }

@font-face {
	font-family: 'TT_Polls_Regular';
	font-weight: normal;
	src: url(../fonts/TT_Polls/TTPollsRegular.otf);
    }
@font-face {
	font-family: 'TT_Polls_Thin';
	font-weight: normal;
	src: url(../fonts/TT_Polls/TTPollsThin.otf);
    }

body {
	background-color: #4a919e;
/*
	background-image: url("../img/back2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
*/
	font-family: TT_Polls_Thin;
}
.display-3{
	font-family: PeaceSans;
}

.header {
	font-family: TT_Polls_Regular;
}
.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.navbar.scrolled {
    background: rgb(68, 68, 68); /* IE */
    background: rgba(0, 0, 0, 0.68); /* NON-IE */
}
.container {
	
}
.main_block .row {
	padding-top: 140px;
	padding-bottom: 70px;
}
.main_block .row:nth-child(odd){
	background: #212529;
	color: #fff;
	
}
.jumbotron {
	background: none;
}
.item_h {
/*	display: none;*/
	font-family: PeaceSans;
	font-size: 100px;
	text-decoration: underline;
/*
    background: linear-gradient(45deg, #343a40 33%, #0D61BC 66%, #8AA9D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
*/
}
.item_img {
	width: 100%;
	display: block;
}
#paintings_svg {
	stroke: #fff;
	stroke-width: 80px;
	display: block;
	position: absolute;
	z-index: -1;
	width: 700px;
	left: -160px;
	top: 90px;
}
#contact {
	margin-top: 143px;
}
#contactForm label, button {
	font-family: TT_Polls_Regular;
}
footer {
	margin-top: 10px;
	height: 80px;
	background: #343a40;
}