
@font-face {
	font-family: 'PeaceSans';
	font-weight: normal;
	src: url(../fonts/PeaceSans.woff);
    }

@font-face {
	font-family: 'TT_Polls_Regular';
	font-weight: normal;
	src: url(../fonts/TT_Polls/TTPollsRegular.otf);
    }
@font-face {
	font-family: 'TT_Polls_Thin';
	font-weight: normal;
	src: url(../fonts/TT_Polls/TTPollsThin.otf);
    }

body {
	background-color: #4a919e;
	font-family: TT_Polls_Thin;
}
.display-3{
	font-family: PeaceSans;
}

.header {
	font-family: TT_Polls_Regular;
}
.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.navbar.scrolled {
    background: rgb(68, 68, 68); /* IE */
    background: rgba(0, 0, 0, 0.68); /* NON-IE */
}
.main_block .row {
	margin-top: 140px;
}
.jumbotron {
	background: none;
}
.item_h {
/*	display: none;*/
	font-family: PeaceSans;
	font-size: 100px;
}
.item_img {
	width: 100%;
	display: block;
}
#contact {
	margin-top: 143px;
}
#contactForm label, button {
	font-family: TT_Polls_Regular;
}
footer {
	margin-top: 10px;
	height: 80px;
	background: #343a40;
}